{% extends 'base.html.twig' %}

{% block title %}kategoria{% endblock %}

{% block body %}
    <div id="count">
        <ul>
            <li>Ilość produktów w tej kategorii: {{productCount}}</li>
            <li>Dostępne produkty w tej kategorii: {{availableProductCount}}</li>
        </ul>
    </div>
{% endblock %}
