{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div id="menu"></div>
    <ul>
        <li class="personal_data">
            Krzysztof Czerwiński
        </li>
    </ul>
    <div id="form">
    {{form(form)}}
    </div>
{% endblock %}
