{% extends "base.html.twig" %}

{% block title %} {{product.name}} {% endblock %}

{% block body %}
    <div id="product">
        <ul>
            <li>{{product.name}} </li>
            <li>{{product.description}} </li>
            <li>{{product.price}} </li>
            <li>
                {% if product.isAvailable %}
                    Produkt dostępny
                {% else %}
                    Produkt niedostępny
                {% endif %}
            </li>
            <li>Kategoria: 
                <a href={{ url("category", {id: product.category.id}) }}>
                    {{product.category}}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}